.App {
  font-family: Lora;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.nav {
  top: 0;
  justify-content: center;
}

.navLabel {
  text-decoration: underline;
}

.card-fan-container {
  display: flex;
  justify-content: center;
  gap: 0;
  margin-top: 25rem;
  margin-left: 3.75rem;
  position: relative;
}

.card-fan-card {
  position: relative;
  margin-left: -3.75rem;
  transition: transform 0.3s cubic-bezier(0.4, 0.2, 0.2, 1), box-shadow 0.3s;
  z-index: 1;
}

/* Tablet */
@media (max-width: 768px) {
  .card-fan-container {
    margin-left: 5rem;
  }

  .card-fan-card {
    margin-left: -5rem;
  }
}

/* Phone */
@media (max-width: 480px) {
  .card-fan-container {
    margin-left: 7rem;
  }

  .card-fan-card {
    margin-left: -7rem;
  }
}

.card-fan-card:hover {
  transform: scale(1.12) translateY(-20px);
  z-index: 10;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
}
